.fixed-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: hsla(0, 0%, 6%, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    z-index: 9999;
    backdrop-filter: blur(4px);
}

/* 按鈕懸停時的樣式 */
.fixed-button:hover {
    background-color: hsla(0, 0%, 30%, 0.5);
}
